.finance-main:hover {
    display: flex;
    justify-content: center;
    transform: scale(1.01);
    transition: transform 1s ease-in-out, box shadow 1s ease-in-out;
    box-shadow: 0 4px 6px black;
    animation-name: pulse;
    animation: pulse 1.5s infinite;
}

.solar-main:hover {
    display: flex;
    justify-content: center;
    transform: scale(1.01);
    transition: transform 1s ease-in-out, box shadow 1s ease-in-out;
    box-shadow: 0 4px 6px black;
    animation-name: pulse;
    animation: pulse 1.5s infinite;
}

.t-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vw;
    width: 100vw;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(90deg, #ffffff, #000000, #ffffff);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 15s infinite linear;

}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


/* Media and KeyFrames*/

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes gradientMove {
    0% { background-position: 0% 25%; }
    100% { background-position: 100% 25%; }
}