.finance-main:hover {
    display: flex;
    justify-content: center;
    transform: scale(1.01);
    transition: transform 1s ease-in-out, box shadow 1s ease-in-out;
    box-shadow: 0 4px 6px black;
    animation-name: pulse;
    animation: pulse 1.5s infinite;
}

.solar-main:hover {
    display: flex;
    justify-content: center;
    transform: scale(1.01);
    transition: transform 1s ease-in-out, box shadow 1s ease-in-out;
    box-shadow: 0 4px 6px black;
    animation-name: pulse;
    animation: pulse 1.5s infinite;
}

.t-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vw;
    width: 100vw;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(90deg, #f5f8ff, #2364fc, #f5f8ff);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 5s infinite ease-in-out;

}


/* Media and KeyFrames*/

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }